<%= form_for( :sessions , url: sessions_path, remote: true) do |f| %>
	
  <div class="container">
		<div class="row">
      <div class="col-md-3">
				<%=  f.label :email, 'Email', class: 'control-label'%>
			</div>
      <div class="col-md-3">
				<%=  f.label :password, 'Password', class: 'control-label'%>
			</div>
    </div>

    <div class="row">
			<div class="col-md-3">
				<%=  f.text_field :email, class: 'form-control-lg'%>
			</div>
      <div class="col-md-3">
				<%=  f.text_field :password, class: 'form-control-lg'%>
			</div>
    </div>
      
		<div class="row">
				<div class="col-md-3">
					<%=  f.submit 'Simpan', class: 'btn btn-success' %></div>
		</div>
    
	</div>
<% end %>